//GT Walsheim Pro Bold//
//font-family: 'GT Walsheim Pro Bold', sans-serif;
@font-face {
	font-family: 'GT Walsheim Pro Bold';
	src: url('../fonts/GTWalsheimPro-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

//GT Walsheim Pro Regular//
//font-family: 'GT Walsheim Pro Regular', sans-serif;
@font-face {
	font-family: 'GT Walsheim Pro Regular';
	src: url('../fonts/GTWalsheimPro-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

//GT Walsheim Pro Light//
//font-family: 'GT Walsheim Pro Light', sans-serif;
@font-face {
	font-family: 'GT Walsheim Pro Light';
	src: url('../fonts/GTWalsheimPro-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

//GT Walsheim Pro Thin//
//font-family: 'GT Walsheim Pro Thin', sans-serif;
@font-face {
	font-family: 'GT Walsheim Pro Thin';
	src: url('../fonts/GTWalsheimPro-Thin.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// font-family: 'Inter', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// font-family: 'Roboto', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


// font-family: 'Poppins', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');